{% extends 'layout.html' %}

{% block body %}
<h1>About us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus consequatur vel, magnam nulla nostrum excepturi aut maxime totam, soluta quaerat id dolores veritatis fuga placeat adipisci nesciunt at. Magnam officiis tenetur harum dolorum optio rerum tempora dolores, vel libero, veniam, saepe voluptas reiciendis! Tempora doloribus recusandae atque quia? Error accusamus consequatur fugit distinctio et animi quia sunt sequi veniam molestiae? Dolores inventore alias aut nihil optio, laudantium sunt consequuntur nam eos amet molestiae odit distinctio recusandae obcaecati incidunt delectus. Deleniti quis, temporibus molestias dolorem non cumque. Porro delectus dolor itaque possimus inventore eius excepturi, rerum cum aliquid ratione corporis expedita?</p>
{% endblock %}