{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione consequuntur impedit ipsum placeat facilis quos labore expedita! Aspernatur minus laboriosam molestias et quod architecto aliquid velit obcaecati quasi quis eveniet, ullam ipsam excepturi, omnis aliquam ex repellendus nesciunt beatae cumque modi? Non cum sequi similique, explicabo accusamus totam dolorum magni architecto, harum necessitatibus ullam et! Iste similique eos impedit ex est, fugit nam ipsum veritatis. Facilis totam, explicabo corporis voluptatem autem ab beatae accusantium iure tenetur voluptate magni laudantium quo dicta ipsa facere id sed sint impedit mollitia officiis voluptatum aliquid nesciunt laborum! Nostrum cum molestiae, itaque nulla et facilis.</p>
</div>
{% endblock %}